#navbar{
    display: grid;
    grid-template-columns: 20em  1fr; /* headerP1 navlinks*/
    background-color: rgb(30, 29, 29);
    color: whitesmoke;
    padding:6px;
    margin:0;
    position:fixed; /* Required to make navbar remain at top always; this causes content to hide behind navbar; so enough padding needed on content divs*/
    width:100%;
    left:0px;
    top:0px;
    right: 0px;
}
.headerP1{
    display: grid;
    grid-template-columns: 1fr  2em; /* this has the logo and bars and the times symbol */
    padding: 0px;  
    margin: 0;
}
#navbar span{
    font-size: 27px;
    padding:0px;
}

.blank{
    display: none;
}
.times{
    display: none;
}
.bars{
    display:none;
    padding-right: 15px;
}

#navLinks{
    display:grid;
    grid-template-columns: repeat(3,1fr);/* change to accommodate more navlinks, 3 with  replace by number of navlinks */
    padding:0px;
    margin:0;
   
}
.linkStyle{
    text-decoration: none;
    color:rgb(244, 236, 236);
}
.linkStyle:hover{
    color:white;
}
#navLinks div{
padding:0px;
margin:0;
}
#navLinks div span{
    padding:0px;
    margin:0;
    }
#navLinks div ul{
    display: none;
    margin:0;
    padding:0px;
    position: absolute;
    color:white;
    background-color:grey;
    list-style: none;
    list-style-position:inside;
}
#navLinks div ul li{

}


#navLinks div:hover ul{
    display:block;
    cursor: pointer;
}
#checkBoxForMenu{
    display: none;
}

@media(max-width:960px){
    /* makes the navbar children all in one column */
    #navbar{
        grid-template-columns:1fr
    }
    /* Makes navLinks element disappear*/
  
    #navLinks{
        display:none
    }
    .headerP1{
        grid-template-columns: 1fr auto 2em;
    
    }

    .blank{
        display:block;
    }
    /* Makes hamburger appear*/
    .bars{
        display:block;
        z-index: 10;
    }
     /* Adds padding to logo*/
   

     /* selects all div elements  under navLinks Id, then filters the div elements on which when hover is valid and then selects ul elements inside*/
    #navLinks div:hover ul{
        position:relative;
    }


    /* selects checkBoxForMenu Id, filters for checked state, finds a sibling (using ~) with id navLinks (note in the html only siblings that come after checkBoxForMenu Id will be selected */
    #checkBoxForMenu:checked~#navLinks{
        display:grid;
        grid-template-columns:1fr;
        gap: 10px;
    }

      /* selects checkBoxForMenu Id, filters for checked state, finds a sibling (using ~) with class logo (note in the html only siblings that come after and then selects all elements with class bars inside*/
    #checkBoxForMenu:checked~.headerP1 .bars{
        display:none;
    }

    /* selects checkBoxForMenu Id, filters for checked state, finds a sibling (using ~) with class logo (note in the html only siblings that come after and then selects all elements with class times inside*/
    #checkBoxForMenu:checked~.headerP1 .times{
        display:block;
    }
    #checkBoxForMenu:checked~.headerP1 .logo{
        padding-bottom: 20px;
    }
}



