.App{
    margin :0rem;
    padding: 0rem;
    font-family: "Roboto";
    font-size: large;
    /* display:grid;
    grid-template-rows: 6em 1fr;
    grid-template-areas:
    'header'
    'mainComponent';
    color: #222222 */
}
/* .header{
    grid-area: header;
}
.mainComponent{
    grid-area:mainComponent;
} */